{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
    <link href="{% static 'css_pagina_estrat_principal.css' %} " rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <h1>Backtesting stocks</h1>
    <div>
        <p><button class="w3-button w3-block w3-teal"><a href="/estrategia_principal/">
                    EVALUAR ESTRATEGIA</a></button></p>
    </div>
    <div>
        <p><button class="w3-button w3-block w3-teal"><a href="/testeo_masivo_principal/">
                    ENCONTRAR MEJOR CONFIGURACION ESTRATEGIA</a></button></p>
    </div>

    <div>
        <p><button class="w3-button w3-block w3-teal"><a href="/pagina_screener_principal/">
                    SCREENER</a></button></p>
    </div>


</body>

</html>