{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css_pagina_testeo_masivo_corrido.css' %} " rel="stylesheet">
    {{ result|json_script:"result" }}
    {{ encontro|json_script:"encontro" }}
</head>

<body>
    < <a href="/pagina_screener_principal/"> volver</a>
        <h1>RESULTADOS SCREENER</h1>


        <div>


        </div>

        <div id="div_encontro">
            <div id="div_tabla"></div>

        </div>





        <script src="{% static 'js/pagina_screener_corrido.js' %}"></script>
</body>

</html>